@using Microsoft.AspNetCore.Components.Routing
@using StudentAutomationSystem.Web.Layout
<nav class="nav-menu">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">
                Anasayfa
            </NavLink>
        </li>
        <li>
            <NavLink href="/attendance">
                Devamsızlık
            </NavLink>
        </li>
        <li>
            <NavLink href="/courses">
                Dersler
            </NavLink>
        </li>
        <li>
            <NavLink href="/grades">
                Notlar
            </NavLink>
        </li>
        <li>
            <NavLink href="/teachers">
                Öğretmenler
            </NavLink>
        </li>
        <li>
            <NavLink href="/myprofile">
                Profilim
            </NavLink>
        </li>
    </ul>
</nav>
