@page "/login"
@inject NavigationManager Navigation
@inject IAuthService AuthService
@inject IJSRuntime JSRuntime


<h3>Giriş Yap</h3>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="loginModel.Email" placeholder="Email" class="form-control" />
    <InputText @bind-Value="loginModel.Password" placeholder="Şifre" type="password" class="form-control" />
    <button type="submit" class="btn btn-primary mt-2">Giriş Yap</button>
</EditForm>

@code {
    private LoginModel loginModel = new();

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(loginModel);
        if (result != null)
        {
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "authToken", result.Token);
            Navigation.NavigateTo("/");
        }
        else
        {
            
        }
    }
}
